@charset "UTF-8";
html {
    font-size: 75.0%;
}

body {
    color: #333;
    font-size: 1.4rem;
    font-family: neue-haas-grotesk-text, noto-sans-cjk-jp, sans-serif;
    -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

a:link,
a:visited,
a:hover,
a:active {
    color: #ffffffee;
    text-decoration: none;
}
