@charset "UTF-8";
html {
    font-size: 75.0%;
}

body {
    color: #333;
    font-size: 1.4rem;
    font-family: neue-haas-grotesk-text, noto-sans-cjk-jp, sans-serif;
    -webkit-text-size-adjust: 100%;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.default {
    padding: 10rem 5rem 10rem;
}

p {
    margin: 1rem 0 1rem 0;
    line-height: 2rem ;
}

h1,
h2 {
    margin: 4rem 0 4rem;
}
h3 {
    text-decoration: underline;
}
